[Unit]
Description=Log SMA Solar power values to AberHome1 database

[Service]
Type=idle
ExecStart=/usr/bin/SMA_Watch
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
